body {
    background-color: rgb(0, 234, 255);
}

body {color: antiquewhite;}

.juju{font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}

.juju {font-weight: lighter;}

#haa {font-style: unset;}

#haa {font-size: x-large;}