body { 
background-color: rgb(79, 16, 16);}

div { color: blanchedalmond;}

h2 { color: azure;}

a { color: aqua;}

li { color: aqua;}

#head {font-style: initial;}

#head {font-family: Georgia, 'Times New Roman', Times, serif;}

.mam {font-size: small;}

#weitereinfos{font-weight: bolder;}